<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Contactanos</ion-title>
    <ion-buttons slot="end">
      <ion-button >
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="text-center" style="margin-top: 30%;">Contactanos</h1>
  <div class="row mt-4">
  <div class="col-2">
  <ion-icon name="location" style="font-size:45px; margin-left:50px;" color="black" >
 
  </ion-icon>
</div>
<div class="col-9 offset-1">
  <p>Av. de las Torres 1520, Prados 
    del sol, Mazatlán, Sinaloa, 
    Mexico</p>
</div>
<div class="col-2">
  <ion-icon name="mail" style="font-size:45px; margin-left:50px;" > </ion-icon>
  </div>
    <div class="col-9 offset-1">
      <p class="mt-1">Servicio@fixit.com</p>
    </div>
    <div class="col-2">
      <ion-icon name="call" style="font-size:45px; margin-left:50px;" color="black"> </ion-icon>
      </div>
        <div class="col-9 offset-1">
          <p class="mt-1">+52 6696681049</p>
        </div>

</div>
</ion-content>
