<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="black"></ion-back-button>
    </ion-buttons>
    <ion-title color="black" class="titulo">Perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-avatar class="centrado mt-5">
    <img src="/assets/man.svg">
    
  </ion-avatar>

  <ion-fab vertical="undefined" horizontal="end" slot="fixed" class="botonadd" >
    <ion-fab-button class="aggboton" color="secondary">
      <ion-label>Editar</ion-label>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button><ion-icon icon="images-outline"></ion-icon>
      
      </ion-fab-button>
      
      <ion-fab-button><ion-icon icon="camera-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    
      <ion-input type="text" class="login mt-4 mr-2 ml-2" placeholder=" Nombre">

      </ion-input>
   
  
      <ion-input type="text" class="login mt-2 mr-2 ml-2" placeholder=" Telefono">

      </ion-input>
    
    
      <ion-input type="text" class="login mt-2 mr-2 ml-2" placeholder=" Correo Electronico">

      </ion-input>
      <div class="row">
        <div class="col-12">
          <ion-input type="text" class="login mt-2 mr-2 ml-2" placeholder=" Calle"></ion-input>
        </div>
      
        <div class="col-6">
          <ion-input type="number" class="login mt-2 mr-0 ml-2" placeholder=" Num. interior"></ion-input>
        </div>
        
        <div class="col-6">
          <ion-input type="number" class="login mt-2 mr-2 ml-0" placeholder=" Num. exterior"></ion-input>
        </div>
        <div class="col-6">
          <ion-input type="number" class="login mt-2 mr-0 ml-2" placeholder=" Codigo Postal"></ion-input>
        </div>
        <div class="col-6">
          <ion-input type="text" class="login mt-2 mr-2 ml-0" placeholder=" Colonia"></ion-input>
        </div>
      </div>
      <ion-textarea type="text" class="login mt-2 mr-2 ml-2 " placeholder=" Referencias" style="padding-bottom: 5%;">
        <ion-fab vertical="bottom" horizontal="end" slot="fixed"  >
          <ion-fab-button color="light" size="small">
            <ion-icon icon="camera-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button><ion-icon icon="images-outline"></ion-icon>
            
            </ion-fab-button>
         
            <ion-fab-button><ion-icon icon="camera-outline"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>

      </ion-textarea>
    
    <ion-button  class="top20 container-fluid boton mb-4"color="secondary" >Actualizar</ion-button>
    
  </ion-list>
</ion-content>
