<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <h2 class="text-center">Trabajos mas solicitados</h2>
    <div class="col-8 offset-2">
    <p class="text-center solicitados mb-4" style="font-size:14px">Estos son los trabajos mas solicitados por temporada</p>
  </div>
  <div class="row justify-content-center align-items-center">
  <div class="card " style="width: 20rem;">
    <img class="card-img-top" src="/assets/oficios.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center" style="font-weight: bold;">Enjarrado</h5>
      <p class="card-text solicitados" >Limpio y rápido enjarrado para todo tipo de casas.</p>
      <p class="card-text " >Jose Osuna.</p>
      <ion-button  class="top20 container-fluid boton mb-3"color="secondary" >Solicitar</ion-button>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center mt-5">
  <div class="card " style="width: 20rem;">
    <img class="card-img-top" src="/assets/oficios.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center" style="font-weight: bold;">Enjarrado</h5>
      <p class="card-text solicitados" >Limpio y rápido enjarrado para todo tipo de casas.</p>
      <p class="card-text " >Jose Osuna.</p>
      <ion-button  class="top20 container-fluid boton mb-3"color="secondary" >Solicitar</ion-button>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center mt-5 mb-5">
  <div class="card " style="width: 20rem;">
    <img class="card-img-top" src="/assets/oficios.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center" style="font-weight: bold;">Enjarrado</h5>
      <p class="card-text solicitados" >Limpio y rápido enjarrado para todo tipo de casas.</p>
      <p class="card-text " >Jose Osuna.</p>
      <ion-button  class="top20 container-fluid boton mb-3"color="secondary" >Solicitar</ion-button>
    </div>
  </div>
</div>
<div class="row justify-content-center align-items-center mt-5">
  <div class="card " style="width: 20rem;">
    <img class="card-img-top" src="/assets/oficios.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center" style="font-weight: bold;">Enjarrado</h5>
      <p class="card-text solicitados" >Limpio y rápido enjarrado para todo tipo de casas.</p>
      <p class="card-text " >Jose Osuna.</p>
      <ion-button  class="top20 container-fluid boton mb-3"color="secondary" >Solicitar</ion-button>
    </div>
  </div>
</div>
</ion-content>
