<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <h2 class="text-center title mt-3">Mis Servicios</h2>

  <ion-img class="img1" src="/assets/aire.png"></ion-img>

  <ion-img src="/assets/electricidad.png"></ion-img>

  <ion-img src="/assets/pintura.png"></ion-img><br>

  <ion-img class="img2" src="/assets/jardineria.png"></ion-img>

  <ion-img src="/assets/plomeria.png"></ion-img>

  <ion-img src="/assets/construccion.png"></ion-img>
</ion-content>
