ion-header{

    --ion-background-color:#EBEFF2;
}
.titulo{
    color: #0D0D0D;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.solicitados{
    color: #707070;
}
.pregunta{
    font-weight: bold;
    margin-top: 45%;
}
ion-content{

    --ion-background-color:#EBEFF2;
}
ion-input{
    --border-color: #707070!important;
    --highlight-height: 0;
    background-color: white!important;
    border: 1px solid #dedede;
    border-radius: 6px;
    width: auto;
    &.item-has-focus {
        border: 1px solid var(--ion-color-light);


    }
}