ion-content, ion-header{

    --ion-background-color:#EBEFF2;
}
.centrado{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
  }
  .empresa{
      margin-top: 40%;
      color: rgb(110, 109, 109);
  }
 