<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
 -->
<ion-content padding class="fondo">
  
    <ion-img src="/assets/logo.png" style="width:240px;" class="top20 centrado"></ion-img>
   
  <ion-list>
    <ion-item >
      <ion-input type="text" class="login" placeholder="Usuario">

      </ion-input>
    </ion-item>
    
  </ion-list>
  <ion-list>
    <ion-item text-center>
      <ion-input type="password" placeholder="Constraseña" >

      </ion-input>
    </ion-item>
  
    
  </ion-list>

  <ion-button href="/inicio" class="top20 container-fluid boton mb-4"color="secondary" >Iniciar Sesion</ion-button>


<p class="text-center top20" style="font-size:25px">O</p>
<br>
<ion-button color="light" class="capitalize container-fluid"  shape="round">
  <ion-icon name="logo-google" class="mr-2">
    
  </ion-icon>
  Inicia sesion con Google
</ion-button>
<ion-button color="light" class="capitalize top20 container-fluid" shape="round">
  <ion-icon  name="logo-facebook" class="mr-2" color="primary">
    
  </ion-icon>
  Inicia sesion con Facebook       
 </ion-button>


</ion-content>
