.login{
    margin-top: 5%;
}
.top20{
    margin-top: 20px;
}
.top40{
    margin-top: 10%;
}
.centrado{
    margin-left: auto;
    margin-right: auto;
  }
  .container-fluid {
    display: flex;
    justify-content: center;
  }

ion-content{

    --ion-background-color:#EBEFF2;
}
ion-header{

    --ion-background-color:#EBEFF2;
}
.boton{
    color: #F27405;
   
}
.centradotexto{
    justify-content: center;
}