<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title  class="titulo">Servicio</ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
    </ion-button> -->
    <ion-menu-button color="light" menu="first"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="mt-2 mr-2">
    <ion-label class="mt-2">Categoria</ion-label>
    <ion-select value={gender} placeholder="Seleccionar" class="mt-4 mr-2">
      <ion-select-option value="carpinteria">Carpinteria</ion-select-option>
      <ion-select-option value="enjarrado">Enjarrado</ion-select-option>
      <ion-select-option value="pintura">Pintura</ion-select-option>
      <ion-select-option value="reparacion">Reparacion</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-input type="text" class="login mt-2 mr-2 ml-2" placeholder=" Titulo">

  </ion-input>

  <ion-textarea type="text" class="login mt-2 mr-2 ml-2 " placeholder=" Descripcion" style="padding-bottom: 10%;"></ion-textarea>

  <ion-input type="number" class="login mt-2 mr-2 ml-2" placeholder=" Precio(MXN)"></ion-input>

  <ion-textarea type="text" class="login mt-2 mr-2 ml-2 " placeholder=" Agregar imagenes del trabajo" style="padding-bottom: 10%;">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button color="light" size="small">
        <ion-icon icon="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon icon="images-outline"></ion-icon>
        
        </ion-fab-button>
     
        <ion-fab-button><ion-icon icon="camera-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

  </ion-textarea>
  <ion-button  class="top20 container-fluid boton mb-4"color="secondary" >Publicar</ion-button>
</ion-content>
