<ion-header class="ion-no-border">
    <ion-toolbar>
    
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/inicio" color="black"></ion-back-button>
    </ion-buttons>
    <ion-title color="black" class="titulo">Contactanos</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="toggleMenu()">
          <ion-icon slot="icon-only" name="menu" color="black"></ion-icon>
        </ion-button>
    </ion-buttons>
    
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="fondo">
    <th><ion-img src="/assets/localizacion.png"></ion-img></th>
    <th><h4>Av. de las Torres 1520, Prados del sol, Mazatlán, Sinaloa, Mexico.</h4></th>
    <br>
    <th><ion-img src="/assets/mail.png"></ion-img></th>
    <th><h4>soporte@fixing.com</h4></th>
    <br>
    <th><ion-img src="/assets/phone.png"></ion-img></th>
    <th><h4>+52(669)1-76-85-19</h4></th>
  </ion-content>
  