<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/descripcionservicio" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="titulo">Servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="/assets/oficios.jpg"></ion-img>
    
    <h2 for="" class="frase mt-2 mr-2 ml-2">"Remodelaciones al alcance de tu economia"</h2>

    <h4 class="mt-2 mr-2 ml-2">Nombre: Jose Perez Rodriguez</h4>
    
    <h4 class="ml-2">Oficio: Albañil</h4>
    
    <h4 class="ml-2">Celular: 66-91-20-87-12</h4>
    
    <h4 class="ml-2">Trabajos realizados: 25</h4>
    
    <h4 class=" calificacion ml-2">Calificacion: 5 estrellas</h4>
    
</ion-content>
