ion-header{

    --ion-background-color:#F27405;
}
ion-content{

    --ion-background-color:#EBEFF2;
}
.titulo{
    color: white;
    text-align: center;
}
ion-img{
    width: 100%;
    padding-top: 30px;
    padding: 40px;
}
h4{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.frase{
    font-size: 24px;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-display: center;
}
.calificacion{
    font-weight: bold;
}