<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="titulo ml-4">Servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button >
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="row">
  <div class="col-6">
    <img src="" alt="/assets/oficios.jpg">
  </div>
  <div class="col-6">
    <h3>Jose Perez Rodriguez</h3>
    <h5>Enjarrado</h5>

  </div>

</div>
</ion-content>
