ion-header{

    --ion-background-color:#F27405;
}
.title{
    font-weight: 700;
    font-size: 25px;
    margin-left: 5px;
}

.titulo{
    color: white;
    text-align: center; ;
}
.subtitle{
    font-size: 23px;
    margin-left: 5px;
}

ion-card{
    height: auto;
    width: auto;
}
