<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="titulo ml-4">Descripcion del servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button >
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/oficios.jpg">
    <p class="mt-4 title">Limpio y rápido enjarrado para todo tipo de casas.</p>
    <p class="mt-4 subtitle">Trabajador: Luis Perez</p>
    <p class="mt-4 subtitle">Trabajos realizados: 25</p>
    <p class="mt-4 subtitle">Puntuacion: </p>
    <ion-button  class="top20 container-fluid boton mb-5 mt-4"color="secondary" >Contactar</ion-button>
  </ion-card>
</ion-content>
