<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="titulo">Registrate</ion-title>

    <ion-buttons slot="end">
      <ion-button>
      <ion-icon slot="icon-only" name="menu" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
      
    
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-img src="/assets/logo.png" style="width:120px;" class="mt-4 centrado"></ion-img>
  <h2 class="text-center title mt-3">Completa tus datos</h2>
  <ion-list>

    
      <ion-input type="text" class="login mt-3 mr-2 ml-2" placeholder="Correo Electronico">

      </ion-input>
   
  
      <ion-input type="password" class="login mt-3 mr-2 ml-2" placeholder="Contraseña">

      </ion-input>
    
    
      <ion-input type="password" class="login mt-3 mr-2 ml-2" placeholder="Confirmar constraseña">

      </ion-input>
   
    
    <ion-button expand="block" class="container-fluid boton mb-4 mt-4"color="secondary" >Registrarme</ion-button>
    <p class="condiciones text-center">Al registrarme, declaro que soy mayor de edad y acepto los Términos y condiciones y las Políticas de privacidad de FIXING.</p>
    
  </ion-list>
</ion-content>
